$submit-button-activeBackgroundColor : #7B0303;
$submit-button-activeBorderColor : #1F0101;
$submit-button-activeColor : #CE3636;
$submit-button-backgroundColor : #890000;
$submit-button-borderColor : #000000;
$submit-button-color : #FA0E0E;
$submit-button-hoverBackgroundColor : #5D0000;
$submit-button-hoverBorderColor : #300000;
$submit-button-hoverColor : #EB0000;
