$input-placeholder-color : #848484;
$input-border-color : #d7d7d7;
$input-focus-border-color : #d7d7d7;
$input-focus-color : #191818;
$input-color : #191818;
$pagination-hover-color :  #292a2a;
$pagination-color : #7cadd3;
$tooltip-bg : #7cadd3;
$tooltip-arrow-color : #7cadd3;
$tooltip-color : #fff;
$theme-colors-primary : #7cadd3;
$theme-colors-secondary : #002855;
$theme-colors-light : #f0f0f0;
$theme-colors-success : #008644;
$theme-colors-info : #17a2b8;
$theme-colors-dark : #292a2a;
$theme-colors-danger : #dc3545;
$theme-colors-warning : #ffc107;
$theme-colors-tertiary : #DACD7E;
