$SVGIcons-arrow : 'https://bcdevbucket.s3.amazonaws.com/cms_files/upload-images/cd-icon-arrow.svg';
$SVGIcons-cartArrow : 'https://bcdevbucket.s3.amazonaws.com/cms_files/upload-images/cart-arrow.svg';
$SVGIcons-downArrow : 'https://bcdevbucket.s3.amazonaws.com/cms_files/upload-images/cd-down-arrow.svg';
$SVGIcons-search : 'https://bcdevbucket.s3.amazonaws.com/cms_files/upload-images/search.svg';
$backgroundImages-dealOfTheDay : 'https://bcdevbucket.s3.amazonaws.com/cms_files/upload-images/dealoftheday_copy_GTRwJ0J.png';
