$input-input-line-height : 4.9rem;
$input-box-shadow : none;
$input-border-radius : 0;
$input-focus-box-shadow : none;
$input-height : 4.9rem;
$btn-border-radius-sm : 0;
$btn-border-radius : 0;
$form-group-margin-bottom : 2rem;
