@mixin carousel ($carousel-alignment,
$carousel-buttonActiveBackgroundColor,
$carousel-buttonActiveBorderColor,
$carousel-buttonActiveColor,
$carousel-buttonBackgroundColor,
$carousel-buttonBorderColor,
$carousel-buttonColor,
$carousel-buttonHoverBackgroundColor,
$carousel-buttonHoverBorderColor,
$carousel-buttonHoverColor,
$carousel-buttonTextDropShadow,
$carousel-buttonTopLg,
$carousel-buttonTopMd,
$carousel-buttonTopSm,
$carousel-buttonTopXs,
$carousel-subTitleTopLg,
$carousel-subTitleTopMd,
$carousel-subTitleTopSm,
$carousel-subTitleTopXs,
$carousel-textColor,
$carousel-textDropShadow,
$carousel-titleTopLg,
$carousel-titleTopMd,
$carousel-titleTopSm,
$carousel-titleTopXs) {

  // carousel
  .carousel {

    color: $carousel-textColor;
    text-shadow: $carousel-textDropShadow;

    .slide {
      -webkit-box-pack: $carousel-alignment;
      -ms-flex-pack: $carousel-alignment;
      justify-content: $carousel-alignment;

      @if $carousel-alignment=='flex-end' {
        text-align: right;
      }

      @else {
        text-align: $carousel-alignment;
      }
    }

    h2,
    .h2,
    p {
      color: $carousel-textColor;
      text-shadow: $carousel-textDropShadow;

    }

    h2,
    .h2 {
      top: $carousel-titleTopXs;

      @include media-breakpoint-up (sm) {
        top: $carousel-titleTopSm;
      }

      @include media-breakpoint-up (md) {
        top: $carousel-titleTopMd;
      }

      @include media-breakpoint-up (lg) {
        top: $carousel-titleTopLg;
      }
    }

    p {
      top: $carousel-subTitleTopXs;

      @include media-breakpoint-up (sm) {
        top: $carousel-subTitleTopSm;
      }

      @include media-breakpoint-up (md) {
        top: $carousel-subTitleTopMd;
      }

      @include media-breakpoint-up (lg) {
        top: $carousel-subTitleTopLg;
      }

    }

    a,
    .btn {
      color: $carousel-buttonColor;
      background-color: $carousel-buttonBackgroundColor;
      border-color: $carousel-buttonBorderColor;
      text-shadow: $carousel-buttonTextDropShadow;

      &:hover {
        color: $carousel-buttonHoverColor;
        background-color: $carousel-buttonHoverBackgroundColor;
        border-color: $carousel-buttonHoverBorderColor;
      }

      &:active {
        color: $carousel-buttonActiveColor;
        background-color: $carousel-buttonActiveBackgroundColor;
        border-color: $carousel-buttonActiveBorderColor;
      }

      top: $carousel-buttonTopXs;

      @include media-breakpoint-up (sm) {
        top: $carousel-buttonTopSm;
      }

      @include media-breakpoint-up (md) {
        top: $carousel-buttonTopMd;
      }

      @include media-breakpoint-up (lg) {
        top: $carousel-buttonTopLg;
      }
    }
  }
}

@mixin image-cta-row ($image-cta-row-buttonActiveBackgroundColor,
$image-cta-row-buttonActiveBorderColor,
$image-cta-row-buttonActiveColor,
$image-cta-row-buttonBackgroundColor,
$image-cta-row-buttonBorderColor,
$image-cta-row-buttonColor,
$image-cta-row-buttonHoverBackgroundColor,
$image-cta-row-buttonHoverBorderColor,
$image-cta-row-buttonHoverColor,
$image-cta-row-buttonTextDropShadow,
$image-cta-row-textColor,
$image-cta-row-textDropShadow) {

  // image-cta-row

  .slider-section {

    .text-holder,
    .intro-holder {
      .btn {
        color: $image-cta-row-buttonColor;
        background-color: $image-cta-row-buttonBackgroundColor;
        border-color: $image-cta-row-buttonBorderColor;
        text-shadow: $image-cta-row-buttonTextDropShadow;

        &:hover {
          color: $image-cta-row-buttonHoverColor;
          background-color: $image-cta-row-buttonHoverBackgroundColor;
          border-color: $image-cta-row-buttonHoverBorderColor;
        }

        &:active {
          color: $image-cta-row-buttonActiveColor;
          background-color: $image-cta-row-buttonActiveBackgroundColor;
          border-color: $image-cta-row-buttonActiveBorderColor;
        }
      }

      .title {
        color: $image-cta-row-textColor;
        text-shadow: $image-cta-row-textDropShadow;
      }

      &:hover {
        .btn.btn-primary {
          color: $image-cta-row-buttonHoverColor;
          background-color: $image-cta-row-buttonHoverBackgroundColor;
          border-color: $image-cta-row-buttonHoverBorderColor;
        }
      }
    }
  }
}

@mixin mast-head ($mast-head-alignment,
$mast-head-buttonActiveBackgroundColor,
$mast-head-buttonActiveBorderColor,
$mast-head-buttonActiveColor,
$mast-head-buttonBackgroundColor,
$mast-head-buttonBorderColor,
$mast-head-buttonColor,
$mast-head-buttonHoverBackgroundColor,
$mast-head-buttonHoverBorderColor,
$mast-head-buttonHoverColor,
$mast-head-buttonTextDropShadow,
$mast-head-buttonTopLg,
$mast-head-buttonTopMd,
$mast-head-buttonTopSm,
$mast-head-buttonTopXs,
$mast-head-subTitleTopLg,
$mast-head-subTitleTopMd,
$mast-head-subTitleTopSm,
$mast-head-subTitleTopXs,
$mast-head-textColor,
$mast-head-textDropShadow,
$mast-head-titleTopLg,
$mast-head-titleTopMd,
$mast-head-titleTopSm,
$mast-head-titleTopXs) {


  // mast-head

  .intro-section {
    .intro-text {
      color: $mast-head-textColor;
      text-shadow: $mast-head-textDropShadow;
      text-align: $mast-head-alignment;

      .title,
      p {
        text-shadow: $mast-head-textDropShadow;
      }

      .btn-holder {
        .btn {
          color: $mast-head-buttonColor;
          background-color: $mast-head-buttonBackgroundColor;
          border-color: $mast-head-buttonBorderColor;
          text-shadow: $mast-head-buttonTextDropShadow;

          &:hover {
            color: $mast-head-buttonHoverColor;
            background-color: $mast-head-buttonHoverBackgroundColor;
            border-color: $mast-head-buttonHoverBorderColor;
          }

          &:active {
            color: $mast-head-buttonActiveColor;
            background-color: $mast-head-buttonActiveBackgroundColor;
            border-color: $mast-head-buttonActiveBorderColor;
          }
        }
      }
    }

    .title {
      top: $mast-head-titleTopXs;

      @include media-breakpoint-up (sm) {
        top: $mast-head-titleTopSm;
      }

      @include media-breakpoint-up (md) {
        top: $mast-head-titleTopMd;
      }

      @include media-breakpoint-up (lg) {
        top: $mast-head-titleTopLg;
      }
    }

    .hidden-xs {
      top: $mast-head-subTitleTopXs;

      @include media-breakpoint-up (sm) {
        top: $mast-head-subTitleTopSm;
      }

      @include media-breakpoint-up (md) {
        top: $mast-head-subTitleTopMd;
      }

      @include media-breakpoint-up (lg) {
        top: $mast-head-subTitleTopLg;
      }
    }

    .btn-holder {
      top: $mast-head-buttonTopXs;

      @include media-breakpoint-up (sm) {
        top: $mast-head-buttonTopSm;
      }

      @include media-breakpoint-up (md) {
        top: $mast-head-buttonTopMd;
      }

      @include media-breakpoint-up (lg) {
        top: $mast-head-buttonTopLg;
      }
    }
  }

}


@mixin mast-head-2 ($mast-head-2-alignment,
$mast-head-2-buttonActiveBackgroundColor,
$mast-head-2-buttonActiveBorderColor,
$mast-head-2-buttonActiveColor,
$mast-head-2-buttonBackgroundColor,
$mast-head-2-buttonBorderColor,
$mast-head-2-buttonColor,
$mast-head-2-buttonHoverBackgroundColor,
$mast-head-2-buttonHoverBorderColor,
$mast-head-2-buttonHoverColor,
$mast-head-2-buttonTextDropShadow,
$mast-head-2-buttonTopLg,
$mast-head-2-buttonTopMd,
$mast-head-2-buttonTopSm,
$mast-head-2-buttonTopXs,
$mast-head-2-subTitleTopLg,
$mast-head-2-subTitleTopMd,
$mast-head-2-subTitleTopSm,
$mast-head-2-subTitleTopXs,
$mast-head-2-textColor,
$mast-head-2-textDropShadow,
$mast-head-2-titleTopLg,
$mast-head-2-titleTopMd,
$mast-head-2-titleTopSm,
$mast-head-2-titleTopXs) {

  // mast-head-2

  .mast-head-2 {

    .row {
      -webkit-box-pack: $mast-head-2-alignment;
      -ms-flex-pack: $mast-head-2-alignment;
      justify-content: $mast-head-2-alignment;

      .top-fixer {
        top: $mast-head-2-titleTopXs;

        @include media-breakpoint-up (sm) {
          top: $mast-head-2-titleTopSm;
        }

        @include media-breakpoint-up (md) {
          top: $mast-head-2-titleTopMd;
        }

        @include media-breakpoint-up (lg) {
          top: $mast-head-2-titleTopLg;
        }

        .holder-text {
          color: $mast-head-2-textColor;
          text-shadow: $mast-head-2-textDropShadow;

          h1 {
            text-shadow: $mast-head-2-textDropShadow;
          }

          p {
            text-shadow: $mast-head-2-textDropShadow;
            top: $mast-head-2-subTitleTopXs;

            @include media-breakpoint-up (sm) {
              top: $mast-head-2-subTitleTopSm;
            }

            @include media-breakpoint-up (md) {
              top: $mast-head-2-subTitleTopMd;
            }

            @include media-breakpoint-up (lg) {
              top: $mast-head-2-subTitleTopLg;
            }

          }
        }

      }

      .btn {
        color: $mast-head-2-buttonColor;
        background-color: $mast-head-2-buttonBackgroundColor;
        border-color: $mast-head-2-buttonBorderColor;
        text-shadow: $mast-head-2-buttonTextDropShadow;

        &:hover {
          color: $mast-head-2-buttonHoverColor;
          background-color: $mast-head-2-buttonHoverBackgroundColor;
          border-color: $mast-head-2-buttonHoverBorderColor;
        }

        &:active {
          color: $mast-head-2-buttonActiveColor;
          background-color: $mast-head-2-buttonActiveBackgroundColor;
          border-color: $mast-head-2-buttonActiveBorderColor;
        }

        top: $mast-head-2-buttonTopXs;

        @include media-breakpoint-up (sm) {
          top: $mast-head-2-buttonTopSm;
        }

        @include media-breakpoint-up (md) {
          top: $mast-head-2-buttonTopMd;
        }

        @include media-breakpoint-up (lg) {
          top: $mast-head-2-buttonTopLg;
        }

      }
    }

  }
}

@mixin product-row ($product-row-hoverTextColor,
$product-row-priceTextColor,
$product-row-priceTextDropShadow,
$product-row-textColor,
$product-row-textDropShadow) {

  //product row

  .product-block {
    .p-upper a {
      color: $product-row-textColor;
      text-shadow: $product-row-textDropShadow;

      &:hover {
        color: $product-row-hoverTextColor;
      }
    }

    .price {
      color: $product-row-priceTextDropShadow;
      text-shadow: $product-row-priceTextColor;
    }
  }
}

@mixin product-row-2 ($product-row-hoverTextColor,
$product-row-priceTextColor,
$product-row-priceTextDropShadow,
$product-row-textColor,
$product-row-textDropShadow,
$product-row-titleColor) {

  // product-row-2
  .product-row-2 {
    .heading-holder {
      h2 {
        color: $product-row-titleColor;
      }
    }

    .product-item {
      .title {
        color: $product-row-priceTextColor;
        text-shadow: $product-row-priceTextDropShadow;
      }

      h4,
      .h4,
      .size {
        color: $product-row-textColor;
        text-shadow: $product-row-textDropShadow;
        cursor: pointer;

        &:hover {
          color: $product-row-hoverTextColor;
        }
      }

      .prise {
        color: $product-row-priceTextColor;
        text-shadow: $product-row-priceTextDropShadow;

        &:before {
          background: $product-row-priceTextColor;
        }
      }
    }
  }
}

@mixin product-row-3 ($product-row-hoverTextColor,
$product-row-priceTextColor,
$product-row-priceTextDropShadow,
$product-row-textColor,
$product-row-textDropShadow,
$product-row-titleColor) {

  // product-row-2
  .product-row-2 {
    .heading-holder {
      h2 {
        color: $product-row-titleColor;
      }
    }

    .product-item {
      .title {
        color: $product-row-priceTextColor;
        text-shadow: $product-row-priceTextDropShadow;
      }

      h4,
      .h4,
      .size {
        color: $product-row-textColor;
        text-shadow: $product-row-textDropShadow;
        cursor: pointer;

        &:hover {
          color: $product-row-hoverTextColor;
        }
      }

      .prise {
        color: $product-row-priceTextColor;
        text-shadow: $product-row-priceTextDropShadow;

        &:before {
          background: $product-row-priceTextColor;
        }
      }
    }
  }
}

@mixin three-column-icons-set ($three-column-icons-set-hoverColor,
$three-column-icons-set-stepNoOpacity,
$three-column-icons-set-textColor,
$three-column-icons-set-textDropShadow) {


  //three-column-icons-set

  .step-section {
    .step-number {
      opacity: $three-column-icons-set-stepNoOpacity;
    }

    .text-holder {
      color: $three-column-icons-set-textColor;
      text-shadow: $three-column-icons-set-textDropShadow;

      &:hover {
        color: $three-column-icons-set-hoverColor;
      }

      a,
      a.title,
      p,
      sup {
        color: $three-column-icons-set-textColor;
        text-shadow: $three-column-icons-set-textDropShadow;

        &:hover {
          color: $three-column-icons-set-hoverColor;
        }
      }
    }
  }
}

@mixin youtube-player ($youtube-player-backgroundColor,
$youtube-player-textColor,
$youtube-player-textDropShadow) {

  //youtube-player-textColor
  .youtube-section {
    background-color: $youtube-player-backgroundColor;

    .text-center {

      h1,
      h3,
      p {
        color: $youtube-player-textColor;
        text-shadow: $youtube-player-textDropShadow;
      }
    }
  }
}