#security{
    .checkbox-wrap {
        overflow: hidden;
        margin: 0 0 -10px;

        @include media-breakpoint-up (lg) {
            margin: 13px -20px 0 0;
          }

        .jcf-checkbox{
            vertical-align: top !important;
        }
    }
    .my-passwords{
        h5{
            padding: 1em 0;
        }
    }
    .large-border-bottom {
        border-bottom: 1px solid $gray-400;
    }  
    .btn-wrap  {
            margin-bottom: 2rem;
        }     
    .btn-link{
        padding: 1.7rem 1.6rem 1.5rem;
        margin-right: 3rem;
    }

}
