/* age-gate styles */
.age-gate {
  @import "../age-gate-widget-variables";
  $submit-button-activeBackgroundColor : null!default;
  $submit-button-activeBorderColor : null!default;
  $submit-button-activeColor :null!default;
  $submit-button-backgroundColor : null!default;
  $submit-button-borderColor : null!default;
  $submit-button-color : null!default;
  $submit-button-hoverBackgroundColor : null!default;
  $submit-button-hoverBorderColor : null!default;
  $submit-button-hoverColor : null!default;
  .btn {
    @include custom-button-variant($submit-button-activeBackgroundColor,
    $submit-button-activeBorderColor,
    $submit-button-activeColor,
    $submit-button-backgroundColor,
    $submit-button-borderColor,
    $submit-button-color,
    $submit-button-hoverBackgroundColor,
    $submit-button-hoverBorderColor,
    $submit-button-hoverColor);
  }

  padding: 4rem 0;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;

  &:after {
    content: '';
    display: block;
    width: 0;
    min-height: 89vh;
  }

  .age-logo {
    display: block;
    width: 14rem;
    margin: 0 auto 4rem;

    @include media-breakpoint-up (md) {
      margin-bottom: 5rem;
      width: 19.5rem;
    }

    @include media-breakpoint-up (lg) {
      margin-bottom: 5.2rem;
    }

    a {
      display: block;
    }

    img {
      width: 100%;
    }
  }

  h1 {
    color: $blue-700;
    font-weight: 700;
    letter-spacing: .382rem;
    text-transform: uppercase;
    margin-bottom: 3.7rem;

    @include media-breakpoint-up (md) {
      letter-spacing: .6rem;
      margin-bottom: 6rem;
    }

    @include media-breakpoint-up (lg) {
      margin-bottom: 5.7rem;
    }
  }

  .age-date {
    color: #002855;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: .267rem;
    display: block;
    margin-bottom: 3rem;

    @include media-breakpoint-up (md) {
      font-size: 1.8rem;
      line-height: 2.5rem;
      letter-spacing: .4rem;
      margin-bottom: 1.9rem;
    }
  }

  form {
    margin-bottom: 8rem;

    @include media-breakpoint-up (md) {
      margin-bottom: 4.2rem;
    }

    @include media-breakpoint-up (lg) {
      margin-bottom: 4.6rem;
    }
  }

  .age-form {
    max-width: 31.5rem;
    margin: 0 auto 8rem;

    @include media-breakpoint-up (md) {
      margin-bottom: 4.7rem;
    }

    @include media-breakpoint-up (lg) {
      margin-bottom: 4.9rem;
    }

    input[type="text"],
    input[type="tel"] {
      @include size(33%, 6.9rem);

      text-align: center;
      background-color: theme-color("primary");
      color: $white;
      font-size: 2.5rem;
      line-height: 6.9rem;
      padding: 0 .5rem;
      font-weight: 700;
      text-transform: uppercase;
      font-style: normal;
      &:not(.is-invalid) {
              border: .2rem solid $white;
              border-left: 0;

      }

      @include placeholder {
        color: $white;
      }
    }

    input[type="submit"] {
      width: 100%;
      font-size: 2.4rem;
      line-height: 2.7rem;
      padding: 1.4rem;

      @include media-breakpoint-up (lg) {
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
  }

  .inputs-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 4.1rem;
    font-size: 1.9rem;

    @include media-breakpoint-up (md) {
      margin-bottom: 5.7rem;
    }
  }

  .politic,
  .copy {
    display: block;
    margin-bottom: 1rem;
    color: #48484a;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;

    @include media-breakpoint-up (md) {
      margin-bottom: 2rem;
    }

    a {
      text-decoration: underline;
    }
  }

  .footer-menu {
    display: block;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: none;
    font-family: $font-family-sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    float: none;
    display: inline-table;
    color: $white;
    margin: 0 20px 0 0;
    padding: 0;

    li {
      float: left;
      padding: 0;
      line-height: 34px;
      padding: 20px 10px;
      text-align: center;

      a {
        color: white;
      }
    }

    img {
      border-top-width: 0;
      border-right-width: 0;
      border-bottom-width: 0;
      border-left-width: 0;
      border-top-style: none;
      border-right-style: none;
      border-bottom-style: none;
      border-left-style: none;
      border-top-color: initial;
      border-right-color: initial;
      border-bottom-color: initial;
      border-left-color: initial;
      border-image-source: none;
      border-image-slice: 100%;
      border-image-width: 1;
      border-image-outset: 0s;
      border-image-repeat: initial;
      vertical-align: middle;
      display: inline;
      max-height: 28px;
      opacity: .8;
    }
  }
}
