.btn {
  vertical-align: top;
  text-transform: uppercase;
  font-size: 2rem;
  color: $white;
  padding: 1.7rem 1.2rem;

  @include media-breakpoint-up (md) {
    padding: 1.7rem 1.6rem 1.5rem;
  }

  &.btn-sm {
    font-size: 1.6rem;
    padding: 1.3rem 1.2rem 1rem;

    @include media-breakpoint-up (lg) {
      padding: 1.2rem 4.1rem 1.1rem;
    }
  }

  &.btn-secondary {
    color: theme-color("primary");
  }

  &.btn-primary {
    position: relative;

    &.shadow {

      &:after,
      &:before {
        bottom: .3rem;
        content: "";
        position: absolute;
        width: 50%;
        height: 2rem;
        z-index: -10;
        opacity: .4;
      }

      &:before {
        left: 0;
        transform: rotate(-5deg);
        box-shadow: 7px 6px 10px #333;
      }

      &:after {
        right: 0;
        transform: rotate(5deg);
        box-shadow: -7px 6px 10px #333;
      }
    }
  }
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed !important;
  opacity: .65 !important;
  background-color: #999 !important;
  border: none !important;
  color: $white !important;
}
