#cart_widget.cart-widget {
  .items-list {
    .text-holder {
      padding-right: 0;
      .details {
        strong{
          display: block;
          padding: 0px 0px 1rem 0px !important;
        }
         dt {
           color: $black;
           font-size: 1.3rem;
         }
        .price {
          font-size: 1.4rem;
          font-weight: bold;
        }
      }
    }
  }
}
