.content-section {
	padding: 2.5rem 0;

	@include media-breakpoint-up (md) {
		padding: 2.2rem 0 2rem;
	}

	@include media-breakpoint-up (lg) {
		padding: 3.3rem 0 2rem;
	}
}

.heading-holder {
	text-align: center;
	margin-bottom: 1.9rem;

	h2 {
		text-shadow: 0 0 1rem $white;
		color: $gray-600;
		text-transform: uppercase;
	}
}