   #deliveryAddressPage,
   #edit-deliveryAddressPage,
   #guestAddressPage {
    .btn.btn-link {
      color: $primary;
      text-decoration: underline !important;
    }
  }
#RegisterForm {

  position: relative;

  .padding-top-container {
    padding-top: 160px;
  }

  .checkout-form {
    max-width: none;
  }

  .checkout-item {
    .checkout-title {
      position: relative;
    }

    .overflow-form {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 350px;
    }


    .form-control,
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="search"],
    input[type="password"],
    textarea {
      -webkit-appearance: none;
      -webkit-border-radius: 0;
      box-shadow: none !important;
      font-size: 17px;
      letter-spacing: .4px;
      padding: 8px 5px 4px;
      line-height: normal;
    }

    .btn-wrap {
      margin-bottom: 2rem;
    }

    /*--right widget--*/

    .cart-widget {
      padding: 0px 11px 0 !important;
      color: $secondary;

      .decorated-title {
        padding: 1rem 1rem !important;
        margin: 0rem 0 2rem !important;
        font-weight: 700 !important;
      }
    }

    .item-block {

      .img-holder {
        height: 90px !important;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 15px;
      }

      dt {
        width: 70%;
        float: left;
      }

      dd {
        width: 30%;
        float: left;
      }

      .price {
        text-align: left;
        position: static;
        color: $blue;
        line-height: inherit;
        font-weight: 700;
      }


    }


    @include media-breakpoint-up (lg) {}

    @include media-breakpoint-up (md) {
      .checkout-form {
        margin: 0 0 11px;
      }
    }

    @include media-breakpoint-up (xs) {
      .d-block {
        margin-bottom: 2rem;
      }
    }


  }

  .text-link {
    text-decoration: underline;
    cursor: pointer;
  }
}
