/* product description block styles*/
.description-block {
	@extend %listreset;

	line-height: 1.8rem;

	@include media-breakpoint-up (md) {
		margin: 0 -1rem;
		border-bottom: 1px solid theme-color("primary");
	}

	@include media-breakpoint-up (lg) {
		border: none;
		line-height: 1.9rem;
	}

	li {
		position: relative;

		@include media-breakpoint-up (md) {
			width: 50%;
			display: inline-block;
			vertical-align: top;
			margin: 0 -4px 0 0;
			padding: 0 1rem 1rem;
		}

		&.text-block,
		&.flavor-block {
			@include media-breakpoint-up (md) {
				width: 100%;
			}

			@include media('>=desktop') {
				width: 50%;
			}
		}

		&.notes-block,
		&.flavor-profile {
			&:before {
				@include media-breakpoint-up (md) {
					display: none;
				}
			}
		}

		&.active {
			.accordion-opener {
				color: $blue-700;

				&:before {
					transform: translateY(-50%) rotate(180deg);
				}
			}
		}

		&:before {
			@include media-breakpoint-up (md) {
				content: '';
				position: absolute;
				bottom: 0;
				left: 1rem;
				right: 1rem;
				background: theme-color("primary");
				height: 1px;
			}
		}
	}

	p {
		margin: 0 0 1.9rem;
	}

	.slide {
		@include media-breakpoint-down (md) {
			padding: 1rem .5rem 0;
		}
	}

	.accordion-opener {
		@include animate(color);

		font-size: 2rem;
		line-height: 2.4rem;
		font-weight: 700;
		display: block;
		color: theme-color("primary");
		position: relative;
		padding: 1rem 0;
		letter-spacing: 0.63px;

		@include media-breakpoint-up (md) {
			cursor: auto;
			pointer-events: none;
			font-size: 2.6rem;
			line-height: 2.8rem;
			color: $blue-700;
			margin: 0 0 .1rem;
			letter-spacing: 3.55px;
		}

		&:hover {
			@include media-breakpoint-down (md) {
				color: $blue-700;
			}
		}

		&:before {
			@include animate(transform);

			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: .7rem;
			border-style: solid;
			border-width: 6px 6px 0 6px;
			border-color: theme-color("primary") transparent transparent transparent;

			@include media-breakpoint-up (md) {
				display: none;
			}
		}

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: -1.2rem;
			right: -1.2rem;
			height: 1px;
			background: #e0e0e0;

			@include media-breakpoint-up (md) {
				display: none;
			}
		}
	}

	.info-volume {
		display: block;
		margin: 0 0 1rem;
		font: italic 700 2.5rem/2.8rem $font-playfair;
		color: theme-color("primary");
	}

	.img-block {
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		min-height: 6.7rem;
	}

	.card {
		margin: 0 0 1.1rem;

		.card-title {
			display: block;
			color: $white;
			text-transform: uppercase;
			font-size: 1.4rem;
			line-height: 1.6rem;
			background: $blue-200;
			margin: 0;
			padding: 1.7rem 1rem;
			text-align: center;
		}
	}

	.blockquote {
		font-style: italic;
		margin: 0;
	}
}