/* filters-slide styles */
.filters-slide {
	@include animate(opacity transform);

	background: $gray-100;
	position: absolute;
	transform: translateX(-100%);
	opacity: 0;
	width: 100%;
	top: 6.7rem;
	bottom: 0;
	z-index: 6;
	padding: 0;

	@include media-breakpoint-down (sm) {
		height: calc(100vh - 3.8rem);
		overflow: hidden;
		overflow-y: hidden;
	}

	@include media-breakpoint-up (md) {
		width: 38rem;
		top: 15.2rem;
		bottom: 10%;
	}

	.filter-slide-active & {
		transform: translateX(0);
		opacity: 1;
	}

	.holder {
		height: 100%;
		background: $gray-100;
		padding: 8rem 3.9rem 8rem 6rem;

    @media (min-width: 320px) and (max-width: 374px) {
        padding: 8rem 3.9rem 8rem 2rem;
    }

		@include media-breakpoint-up (md) {
			padding: 2.5rem 4rem 2.5rem 6rem;
		}
    @include media-breakpoint-up (lg) {
			padding: 2.5rem 4rem 2.5rem 3rem;
		}
	}

	.slide-content {
		overflow-y: auto;
		overflow-x: hidden;
		height: 100%;
	}

	&:after,
	&:before {
		@include media-breakpoint-up (md) {
			bottom: .42rem;
			content: "";
			position: absolute;
			width: 50%;
			height: 2rem;
			z-index: -10;
			opacity: .4;
		}
	}

	&:before {
		left: -.4rem;
		transform: rotate(-3deg);
		box-shadow: 7px 7px 10px #333;
	}

	&:after {
		right: -.4rem;
		transform: rotate(3deg);
		box-shadow: -7px 7px 10px #333;
	}

	.jcf-select {
		margin: 0 0 2.5rem;
	}
	&.left-aligned-filter {
	  left: 0;
		top: 0;
	}

	&.right-aligned-filter {
	  right: 0;
		top: 0;
	}
}

/* filter btn-panel styles */
.btn-panel {
	@extend %listreset;

	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: $gray-100;
	box-shadow: 0 -1px 8px rgba($black, 0.31);
	padding: .8rem;
	margin: 0 -.4rem;

	li {
		padding: 0 .4rem;
		width: 50%;
	}

	.btn {
		padding: 1.4rem 1rem;
		width: 100%;

		&:after,
		&:before {
			display: none;
		}
	}
}

#main {
	&:before {
		@include animate(opacity visibility);

		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background: rgba(74, 74, 74, .5);
		z-index: 5;
		opacity: 0;
		visibility: hidden;

		.filter-slide-active:not(.fixed-filter-slide-active) & {
			opacity: 1;
			visibility: visible;
		}
	}
}

.filter-block {
	color: $gray-800;
	margin: 0 0 3rem;

	.block-title,
	.subtitle {
		display: block;
	}

	.block-title {
		color: $blue;
		margin: 0 0 1rem;
		font: 400 2.2rem/2.3rem $font-playfair;
	}

	.subtitle {
		margin: 0 0 1rem;
	}

	.checkbox {
		margin: 0 0 .8rem;
		display: block;
	}

	.filter-opener {
		display: inline-block;
		vertical-align: top;
		margin: .3rem 0 0;
	}
	.filters-form-check{
		list-style: none;
		padding-left: unset;
		margin-bottom: 0.1rem;
	}
}

.slide-opener {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 0 1.5rem 0 0;
	margin: 1.9rem 0 0;
	text-decoration: underline;

	@include media-breakpoint-up (lg) {
		margin: 1rem 0 0 0;
	}

	&:before {
		@extend %icon;

		content: $icon-arrow-d;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%) rotate(-90deg);
		font-size: 1.2rem;
	}
}
