.form-control {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 300;
  padding: 1.2rem 1.5rem;
  -webkit-appearance: none;

  @include media-breakpoint-up (md) {
    padding: 1.2rem 1.9rem;
  }

  &:focus {
    z-index: auto !important;
  }
}

.checkbox {
  margin: 0;
  color: $gray-800;
  line-height: 2.4rem;
}

.invalid-feedback {
  text-align: left;
}
