.modal-open {
  -webkit-overflow-scrolling: touch;
}
body {
  /* Set "number" to 0 */
  counter-reset: number;

  &.remove-scroll,
  &.nav-active {
    overflow: hidden;
  }
}

/*---inputs---*/
.inputs-box {
  padding: 0 40px 20px 11px;
  margin: 0 0 24px;
  max-width: none;
  border-bottom: 2px solid #9b9b9b;
}

.decorated-title {
  border-bottom: 1px solid $gray-500;
  padding-bottom: 4px;
  margin: 0 0 13px 0;
  color: $secondary;
}

h5 {
  text-transform: uppercase;
}

.page-holder {
  padding: 5px 0 12px 0;
}

.section-heading {
  margin: 0 0 39px;

  @include media-breakpoint-up (md) {
    .add-item {
      display: none;
    }
  }
}

.add_adrs_btn {
  margin: 0 0 24px;
}

.padding-top-container_all {
  padding-top: 160px;
}


.item-block {
  .img-holder {
    height: 90px;
    max-height: 16rem;

    img {
      max-height: 10rem;
    }

    display: -webkit-box;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.cart-widget {

  padding: 9px 13px 0;
  background: #f8f9fa;
  color: $dark;
  margin-top: 0rem;
  margin-bottom: 2rem;

  h2 {
    font-size: 1.8rem;
    font-weight: bold;
  }

  .decorated-title {
    border-bottom-color: $gray-300;
  }

  dt,
  strong {
    color: $secondary;
  }

  span {
    font-size: 1.2rem;
  }

  .checkout-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: solid 1px rgba(0, 0, 0, 0);
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 0rem 0.5rem;
    margin: 0 0rem;

    @include media-breakpoint-up (md) {
      margin: 0 0 0.5rem;
    }

    @include media-breakpoint-up (lg) {
      margin: 0 0 0.4rem;
    }

    dt {
      color: $blue-700;
    }

    dd {
      color: $blue;
    }
  }

  .price {
    top: 0.25rem;
    right: 1rem;
    color: $primary;
    font-size: 1.4rem;
  }


}

.item-block {
  padding: 22px 0 70px;

  .text-holder {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 1.21;
    font-size: 14px;
    padding-right: 20px;

  }

  dl {
    width: 100%;
  }

  .details {
    width: 100%;
  }

  dl dt {
    margin: 0 4px 0 0;
  }

  dt,
  dd {
    display: inline;
    margin: 0;
  }

  dd::after {
    content: "\A";

    white-space: pre;

  }
}


.selected-delivery-address {
  background-color: #d2deec;
}






*,
::before,
::after {

  box-sizing: border-box;

}

/*-------------nov/15---------------------*/

#engravedLabel {
  background-color: #d8eeff;
  padding: 1rem;
  max-width: 100%;

  .wrapper {
    padding: .7rem .7rem 0 .7rem;
    word-wrap: break-word;
    color: $theme-colors-primary;
  }

  dt {
    strong {
      color: $theme-colors-secondary;
    }
  }
}

.coupon-offer-green {
  position: relative;
  margin: 0px 0 -16px;
  padding: 13.5px;
  border-radius: 5px;
  background-color: #008644;
  text-align: left;
}

.pdt-template.text-holder {
  .details {
    strong {
      color: $theme-colors-secondary;
    }

    .pdt-price {
      color: $theme-colors-primary;
    }
  }
}



#header {
  .dropdown:hover>.dropdown-menu {
    display: block;
    color: $white;
    text-decoration: none;
  }

  .dropdown-toggle {
    text-decoration: none;
  }

  .dropdown-menu>li>a {
    text-decoration: none;
    text-align: center;
    width: 100%;

    &:hover,
    &:focus {
      color: $white;
      text-decoration: none;
      background-color: $secondary;
    }
  }
}

.location-content {
  position: fixed;
  z-index: 100;
  background: rgb(255, 255, 255);
  padding: 1em;
  width: 100%;
  left: 0px;
  top: 50px;
}

.delver-drop-btn {
  font-size: 2rem;
  position: absolute;
  line-height: 1;
  top: 50%;
  right: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.delver-drop-btn.active {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.delver-drop-btn1 {
  font-size: 2rem;
  position: absolute;
  line-height: 1;
  top: 20%;
  right: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.news-letter-popup {
  form {
    a {
      color: $theme-colors-secondary;

      &:hover {
        color: $theme-colors-dark;
      }
    }
  }
}

#videoPlayer {

  .modal-container {
    width: 100vw;
    background-color: transparent;
    border: none;
    box-shadow: none;
    max-width: unset;

    .close {
      right: 5rem;
      top: 3rem;
    }

    .close {
      position: absolute;
      right: 15px;
      top: 5px;
      width: 32px;
      height: 32px;
      opacity: 0.3;
      z-index: 1000;
    }

    .close:hover {
      opacity: 1;
    }

    .close:before,
    .close:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: rgb(192, 192, 192);
    }

    .close:before {
      transform: rotate(45deg);
    }

    .close:after {
      transform: rotate(-45deg);
    }

  }

  .modal-open {
    width: 100%;
    display: inline-block;
  }

  .video-js {
    display: block;
    margin: auto;

    .vjs-big-play-button {
      top: 50%;
      left: 50%;
      margin-left: -1.5em;
    }
  }

}

#checkBoxWidget {
  background-color: #d8eeff;
  padding: 0.7rem 0.7rem 0 0.7rem;

  .form-group {
    .checkbox-wrap {
      .col-sm-1 {
        .jcf-checkbox {
          width: 4rem;
          height: 4rem;
        }
      }
    }
  }
}

.discount-section {
  //background-color: #4b98fb;
  background-color: $green;
  color: white;
  height: 100%;
  padding: 8px 0;

  @include media-breakpoint-down(lg) {
    margin: 0 -16px;
  }

  .jumbotron {
    .discount-title {
      text-align: center;
      font-size: 30px;
      padding: 0;
      margin: 0 auto;
    }

    .discount-subtitle {
      text-align: center;
      font-size: 18px;
      margin: 0 auto;
    }

    .discount-tc {
      text-align: center;
      margin: 0;
      line-height: 13px;
      font-size: 13px;

      a :hover,
      a {
        color: $white;
      }
    }
  }
}

.white {
  color: $white;
}

.black {
  color: $black;
}

.sup {
  color: $white;

  &:hover {
    color: $green;
  }
}

.intro-text {
  z-index: 1;
}

.bg-image {
  position: relative;

  &::before {
    background: rgba(0, 0, 0, .1);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
}

.text-shadow {
  text-shadow: 0 0 10px $black;
}

u {
  text-decoration-color: $white
}

.intro-holder {
  @include media-breakpoint-up(lg) {
    padding: 32px 0;
  }

}

.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  background-color: transparent;
  text-transform: none !important;
  font-size: 16px !important;
  padding: .85em;
  text-decoration: underline !important;
  min-width: auto !important;

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
    border-color: transparent;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    border-color: transparent;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }

  // No need for an active state here
}

// new styles for mini-cart
.cart-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  margin-right: -1000px;
  min-width: 600px;
  max-width: 600px;
  min-height: 100vh;
  background-color: white;
  box-shadow: 20px 0px 15px 20px #0000004b;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.sidebar-content {
  display: block;
  min-width: 600px;
  max-width: 600px;
  width: 100%;
  height: 100%;
  margin-left: 10em;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  padding: 0 20PX;
}

.sidebar-items {
  width: 100%;
  height: 500px;
  border-bottom: solid 1px;
}

.a-sidebar-close {
  font-size: 50px;
}

.cart-sidebar.active {
  margin-right: 0px;
  z-index: 4;
}

.sidebar-content.active {
  margin-left: 0em;
}

body.active {
  overflow: hidden;
}

#app {
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 0.7);
  position: relative;
}

#app.active {
  margin-left: -1000px;
}

.app-header {
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 0.7);
}

.app-header.active {
  margin-left: -1000px;
}

@media (max-width: 767px) {

  .sidebar-content,
  .cart-sidebar {
    min-width: 100%;
    max-width: 100%;
  }

  .text-secondary {
    font-size: 1.3rem;
    padding: 0rem;
  }

  .cart-info .cart-link .badge {
    right: 0;
  }


}

#button-checkout {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

#button-continue {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}