.slider-section{

    .slick-list {
        position: relative;
        overflow: hidden;
        display: block;
        margin: 0;
        padding: 0;
    
    .slick-track {
        position: relative;
        left: 0;
        top: 0;
        display: block;
         &:before, &:after {
            content: "";
            display: table;
        }
        

        .slick-slide {
            float: left;
            height: 100%;
            min-height: 1px;
            display:block;
        }
    .preview-slide {
        color: $white;
        padding:20px;
        width: 280px;


        .text-holder 
        {
            .title
            {
            margin-bottom:2rem;
            color: #333;
            text-align: center;
            height: 2em;
            display: block;
            text-transform: uppercase;
         }
        }   
        .intro-holder {                     
            
            
                padding: 20px 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: end;
                -ms-flex-align: end;
                align-items: flex-end;
                position: relative;
            

            &:before {
                -webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
                transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, .5);
                opacity: 0;
                visibility: hidden;
            }       

            

            &:after {
                content: "";
                width: 0;
                display: block;
                max-height: 113px;
            }
            
            

            .intro-text {
                width: 100%;
                font-size: 14px;
                line-height: 1.31;
                /* padding: 5rem 18px; */
                text-transform: uppercase;
                font-weight: bold;
                font-family: "Futura Std", "Helvetica Neue", Helvetica, Arial, sans-serif;
                margin: 0 auto;
                padding-top: 21rem;
                padding-bottom: 2rem;
            }

            &.bg-image {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;

    
                &:before {
                    background: rgba(0, 0, 0, 0.1);
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 0;
                } 

                &:after {
                    min-height: 247px;
                }
                
                          
            }
            
        }

       
        
        

         
    }
   
}    
}
}