#intro-slider-image-ID1{
    background-repeat: no-repeat;
    background-size: cover;

    .intro-text {
        position: absolute;
        top:14rem;
        padding-top: 0;
        padding-bottom: 0;
        width:100%;
        text-transform: uppercase;
        color:$white;
    }
    
    
    h1 {
        font-size:5rem;
        letter-spacing: .01rem;
        margin: 0 0 15px;
            margin-top: 0px;
            margin-bottom: 15px;        
        font-weight:bold;
        position: relative;
        margin-top: 0px;
    }  
    
    span{
        font-size:1.5rem; 
        font-size: 1.9rem;
        font-weight: bold;
        position: relative;
        margin-top: 0px;
        bottom:2rem;
    }
}