#order-review-page{
    padding-top: 160px;
    .padding-top-container-new {
        
    }
    /*.page-holder {
        padding: 29px 0 12px 0;
            }*/
    .section-heading {
         margin: 0 0 39px;
    }
    .items-list-holder {
        padding-top: 13px;
    }        
    @include media-breakpoint-up (md) {
        .items-list-holder {
            padding-top: 17px;
        }        
      }
}