/* paginations */
.paging-wrap {
	padding: 1.4rem 0 .8rem;

	@include media-breakpoint-up (md) {
		padding: 4.6rem 0 .8rem;
	}

	@include media-breakpoint-up (lg) {
		padding: 10.6rem 0 2.5rem;
	}
}
.pagination {
	justify-content: center;
	font-size: 2.2rem;
	line-height: 2.4rem;
	font: 2.2rem/24rem $font-playfair;

	.page-item {
		margin: 0 1.3rem;

		@include media-breakpoint-up (lg) {
			margin: 0 2.3rem;
		}

		@include media-breakpoint-up (lg) {
			margin: 0 3.3rem;
		}
	}

	.page-link {
		&.prev {
			.icon-arrow-d {
				transform: rotate(90deg);
				margin: .5rem .6rem 0 0;
			}
		}

		&.next {
			.icon-arrow-d {
				transform: rotate(-90deg);
				margin: .5rem 0 0 .6rem;
			}
		}
	}

	.icon-arrow-d {
		display: inline-block;
		vertical-align: top;
		font-size: 2rem;
		line-height: 1;
	}
}