#payment-in-checkout{
    padding-top: 160px;
    .jcf-checkbox{
        margin: 0 4px 10px 0px;
    }
    .btn-link {
        color:black;
      }
    @media (min-width: 992px){
        .checkout-payment .inputs-box {
          max-width: none;
          padding: 0 17.1vw 20px 15px;
        }
    } 
    form .two-cols.add-style .col:last-child:after {
      content: "\002f";
      position: absolute;
      left: -6px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 14px;
      line-height: 1;
      margin-top: -11px;
    }
}