.product-listing-page{
  .link{
    text-decoration: underline;
    color: inherit;
    &:hover{
      color: inherit;
    }
  }
  
  .paginate-link{
    a{
      color:$pagination-color;
      outline: none;
      cursor: pointer;
      &:hover,
      &:focus{
        color:$pagination-hover-color;
      }
      &.link-disable {
        pointer-events: none;
        color: $gray-500;
        cursor: not-allowed;
      }
    }
  }
  .product-items {
    @include media-breakpoint-down (sm) {
      margin: 0 -1.3rem;
    }

    &.bordered-items {
      [class*="col-"] {
        &:nth-child(even) {
          .product-item {
            border: 0;
          }
        }

        &:last-child {
          .product-item {
            border: 0;
          }
        }

        @include media-breakpoint-up (lg) {
          &:nth-child(3n) {
            .product-item {
              &:before {
                display: none;
              }
            }
          }
        }
      }
    }

    [class*="col-"] {
      display: flex;
      flex-wrap: wrap;




    }
  }

  .bordered-items {
    .product-item {
      &:before {
        right: 0;
        top: 0;
        bottom: 0;
        width: .1rem;
        position: absolute;
        background: #a5a5a5;
      }
    }
  }
  @media (min-width: 1024px) 
  {
    .product-row-min-height {
    min-height: 1200px;
  }
}
}