#app-header-div {

  .location-pop-up {
    text-align: center;
  }

  .address-row {
    input[type="text"] {
      width: 100%;
      height: 50px;
      font-weight: 400;
      display: initial;
      -webkit-appearance: none;
      box-shadow: none !important;
      font-size: 17px;
      letter-spacing: .4px;
      padding: 5px 46px 4px;
      line-height: normal;

    }
  }

  .icon_location {
    position: absolute;
    font-size: 2em;
    left: .5em;
    top: 38px;
    color: #7cadd3;
  }

  @media (max-width: 768px) {
    z-index: 100;
    background: $white;

    .top-header-panel {
      margin-bottom: 1rem;
    }

    .delivery-address {
      &:after {
        display: none;
      }
    }

    .small-notice {

      .badge.badge-pill {
        display: inline-block;
        min-width: 10px;
        padding: 3px 7px;
        font-size: 13px;
        font-weight: 400;
        color: #fff;
        line-height: 1;
        vertical-align: middle;
        white-space: nowrap;
        text-align: center;
        background-color: #e2000f;
        border-radius: 10px;
      }
    }
  }
  
  .delver-drop-btn[data-v-5cb31d32] {
    font-size: 2rem;
    position: absolute;
    line-height: 1;
    top: 31%;
    right: -4rem;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

#main {
  @include media-breakpoint-down(md) {
    margin-top: 14rem;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 15.1rem;
  }

  @include media-breakpoint-down(xs) {
    margin-top: 13.5rem;
  }

  @media (max-width: 437px) {
    margin-top: 14rem;
  }
  @media (max-width: 409px) {
    margin-top: 15rem;
  }

  @media (max-width: 358px) {
    margin-top: 15rem;
  }

  @media (max-width: 300px) {
    margin-top: 15.5rem;
  }
}

    .location-nav-bar {
      margin-left: auto;
      margin-right: auto;
      margin-top: -37px;

      .location-content {
        position: fixed;
        z-index: 100;
        background: rgb(255, 255, 255);
        padding: 1em;
        width: 100%;
        left: 0px;
        top: 52px;
      }
      @include media-breakpoint-up (md) {
        margin-top: unset;
        margin-left: unset;
        margin-right: unset;
      }
    }