#review-order {

  .my-account.payment-info,
  .address-info {
    background: #ffffff;
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }

  .checkout-item .checkout-title .btn {
    position: absolute;
    right: 0.5rem;
    top: 1rem;

    @media (max-width: 767px) {
      padding: 0;
      background: none;
      border: none;
      font-size: 14px;
      line-height: 20px;
      font-weight: 300;
      text-decoration: underline;
      text-transform: capitalize;
      right: 1rem;
    }

    @media (min-width: 768px) {
      top: 0.1rem;
      padding: 6px 19px 4px;
    }

    @media (min-width: 992px) {
      min-width: 141px;
      top: 0.5rem;
      right:1rem;
    }
  }

  @media (min-width: 768px) {
    .checkout-item.address-info {
      padding: 17px 5px 19px 10px;
    }
  }

  @media (min-width: 992px) {
    .checkout-item.address-info {
      padding: 12px 5px 19px 15px;
    }
  }

  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  .checkout-item.address-info {
    background: #f0f0f0;
    padding: 17px 10px 53px 26px;
    position: relative;
  }

  .address-info {
    padding: 1em 1em;
    font-size: 16px;
  }

  .checkout-item address span {
    display: block;
    margin: 0 0 5px;
  }

  .decorated-title.text-center {
    border: none;

    @media (max-width: 767px) {
      padding-right: 6rem;
    }
  }
}