#addresses {
  .address-info {
    background: #ffffff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 1em 1em;
    font-size: 16px;
  }
  .edit_btn,
  .checkout-item .edit_btn {
    font-size: 16px;
    /* padding: 0 1em; */
    color: #7cadd3;
    font-weight: 300;
    z-index: 999;
  }
}
