

#shopping-cart {
  z-index: 1000000;
  .items-list {
    max-height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .coupon-offer {
    .error-box {
      position: relative;
      padding: 15px;
      border-radius: 5px;
      background-color: $theme-colors-danger;
      text-align: left;
      height: 50px;
    }

    .carrot-bottom {
      position: absolute;
      bottom: -7px;
      right: 35px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7px 7px;
      border-color: transparent transparent $theme-colors-danger;
      transform: rotate(180deg);
    }

    .carrot-top {
      position: absolute;
      top: -6px;
      right: 35px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7px 7px;
      border-color: transparent transparent $theme-colors-danger;
      transform: rotate(0deg);
    }

    &.p {
      color: $white;
      font-size: 14px;
      line-height: 1.21;
    }
  }  

  .cart-section {
    margin: 0 -16px;
    padding: 9px 0 0 0;

    @include media-breakpoint-up (md) {
      margin: 0;
      padding: 17px 0 10px 0;
    }


    .items-list-holder {

      @include media-breakpoint-up (md) {
        padding-top: 17px;
      }

      @include media-breakpoint-up (lg) {
        padding-top: 13px;
      }

    }


    .item-block {
      -webkit-transition: background .3s ease-in-out;
      transition: background .3s ease-in-out;
      padding: 0.1rem 0.1rem 0.1rem;
      border-bottom: 1px solid #ccc;

      @include media-breakpoint-up (md) {
        padding: 22px 0 23px;
      }

      .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }

      .img-holder {
        height: 90px !important;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        .img-fluid {
          max-height: 14rem;
        }
      }

      .link:hover {
        text-decoration: underline;
      }
    }


    h3 {
      font-size: 1.7rem;
      font-weight: bold;

      .icon-cart-grided {
        font-size: 3.5rem;
      }
    }


  }
  .cart-widget{
    .decorated-title{
      padding: 0 .5rem .7rem;
    }
    .checkout-info{
     padding: 0 0.5rem 0.5rem;
    }
  }
       
}
