
#customer-signin{
  .link{
    text-decoration: underline;
    color: inherit;
    &:hover{
      color: inherit;
    }
  }
  .custom-top{
    padding:1.5rem 0;
  }

  .border-right-ash {
    @include media-breakpoint-up (md) {
      border-right: 1px solid #d7d7d7;
    }    
  }
  .checkout-signin-holder{
    padding: 1em 0 2em;
    
  
    .form-group-signin {
      margin-bottom: 2rem;
  }
  
  }
  .inputs-box{
    padding: 0;
    padding-bottom: 5rem;
    border: none;  
  }
}
