#success-page {
  #delivery-method-label {
    color: $theme-colors-primary;
    font-size: x-large;
  }

  .text-center {
    strong {
      color: $theme-colors-secondary;
      font-weight: 700;
    }

    .more {
      color: $theme-colors-primary;
    }

    h3 {
      color: $theme-colors-secondary;
      font-weight: 500;
    }
  }


  .address-info {
    background: $white;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-left: 0px;
    border-right: 0px;
    margin-bottom: 20px;
  }
  .items-list-holder{
   .items-list{
     .item-block{
       .details {
         width: 70%;
          @include media-breakpoint-up (md) {
            width: 100%;

         }
       }
     }
     
   }
  }
}