.step-section{
    .step-holder{
        margin-bottom: 15px;
        padding: 1rem 0.8rem;
        list-style-type: none;
        li:not(:last-child) {
            border-right: 1px solid #dadada;
            &:before {
                height: 0;
                width: 0;
                border-bottom: 4.5px solid transparent;
                    border-bottom-width: 4.5px;
                border-left: 4.5px solid #dadada;
                    border-left-width: 4.5px;
                border-top: 4.5px solid transparent;
                    border-top-width: 4.5px;
                content: "";
                position: absolute;
                right: -5px;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                z-index: 2;
                border-width: 8px;
                border-left-width: 6px;
                right: -6px;
                box-sizing: border-box;
                display: none;
            }
        }
        .step-number{
            position: absolute;
            top: 0;
            left: 8%;
            border-radius: 50%;
            border: 2px solid #cecfcf;
            display: flex;
            -webkit-box-align: center;
            justify-content: center;
            color: #cecfcf;
            line-height: 18px;
            width: 27px;
            height: 27px;
            font-size: 20px;
            font-weight: 500;
            &:before {
                content: counter(number);
                counter-increment: number;
                
            }
        }
        .text-holder{
            a{
                color: $standard-light-box-titleColor;     
            }
           
        }
    }
}