$loading-circle-waterBColor : #053f7f !default;
$loading-circle-backgroundColor : #B5B5B5 !default;
$loading-circle-waterFColor : #002855 !default;
$location-input-field-placeHolderColor : #979797 !default;
$location-input-field-color : #4A4A4A !default;
$location-input-field-focusBorderColor : #D7D7D7 !default;
$location-input-field-borderColor : #D7D7D7 !default;
$location-entry-light-box-color : #292A2A !default;
$location-entry-light-box-backgroundColor : #DFDFDF !default;
$standard-light-box-color : #292a2a !default;
$standard-light-box-backgroundColor : #fff !default;
$standard-light-box-titleColor : #3d4144 !default;
$product-flag-height: 35px !default;
$product-flag-fontSize:15px !default;
$carousel-arrow-backgroundColor : rgba(181, 181, 181, 0.527) !default;
$carousel-arrow-color : rgb(255, 255, 255) !default;
$carousel-arrow-hoverBackgroundColor : #B5B5B5 !default;
$carousel-arrow-hoverColor : rgb(255, 255, 255) !default;
$standard-radio-button-color : #4A4A4A !default;
$standard-radio-button-focusBorderColor : #4A4A4A !default;
$highlight-radio-button-group-activeBackgroundColor : #e5f2ec !default;
$highlight-radio-button-group-activeTextColor : #292a2a !default;
$highlight-radio-button-group-backgroundColor : #e5f2ec !default;
$highlight-radio-button-group-color : #292a2a !default;
$highlight-radio-button-group-focusBorderColor : rgb(184, 184, 184) !default;
$highlight-radio-button-group-textColor : #292a2a !default;
$secondary-list-box-backgroundColor : #FFFFFF !default;
$secondary-list-box-borderColor : #E0E0E0 !default;
$secondary-list-box-color : #4A4A4A !default;
$secondary-list-box-focusBorderColor : #E0E0E0 !default;
$secondary-list-box-listBackgroundColor : #FFFFFF !default;
$secondary-list-box-listColor : #4A4A4A !default;
$secondary-list-box-listHoverBackgroundColor : #E8E8E8 !default;
$secondary-list-box-listHoverColor : #4A4A4A !default;
$small-check-box-borderColor : #4A4A4A !default;
$small-check-box-color : rgb(0, 0, 0) !default;
$small-check-box-focusBorderColor : #4A4A4A !default;
$large-check-box-borderColor : #4A4A4A !default;
$large-check-box-color : rgb(0, 0, 0) !default;
$large-check-box-focusBorderColor : #4A4A4A !default;
$footer-1-joinSectionBgColor : theme-color("primary") !default;
$footer-1-joinSectionTextColor : $white !default;
$footer-1-joinSectionTitleColor : $white !default;
$footer-1-linkActiveColor : $gray-600 !default;
$footer-1-linkColor : $gray-600 !default;
$footer-1-linkHoverColor : $gray-600 !default;
$footer-1-linkHoverTextDecoration : underline;
$footer-1-textColor : $gray-600 !default;
$footer-1-titleColor : $gray-700 !default;
$carousel-heading-font-size : 3.5rem !default;
$carousel-description-font-size : 1.6rem !default;
$carousel-dots-activeBackgroundColor : #c3c3c3!default;
$carousel-dots-borderColor : #c3c3c3 !default;
$carousel-dots-backgroundColor : #74787a !default;
