html {
  font-size: $rem-base;
}

body {
  min-width: 32rem;
}



#wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  min-height: 100vh;

  &:after {
    @include media-breakpoint-down (sm) {
      @include animate(opacity visibility);

      content: '';
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: fixed;
      background: rgba(74, 74, 74, .5);
      opacity: 0;
      visibility: hidden;
      z-index: 109;
    }

    .nav-active & {
      @include media-breakpoint-down (sm) {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &:before {
    @include media-breakpoint-down (sm) {
      @include animate(transform opacity visibility);

      content: '';
      left: 0;
      top: 0;
      bottom: 0;
      background: $blue-700;
      width: 26rem;
      position: absolute;
      transform: translate3d(-100%, 0, 0);
      opacity: 0;
      visibility: hidden;
      z-index: 110;
    }

    .nav-active & {
      @include media-breakpoint-down (sm) {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  display: block;
  margin: 0 0 1.5rem;
}

h1,
.h1 {

  @include media-breakpoint-up (lg) {
    font-size: 5.2rem;
  }
}

h2,
.h2 {
  text-transform: uppercase;
  font-weight: 400;

  // @include media-breakpoint-up (md) {
  //   font-size: 3rem;
  // }
}

h3,
.h3 {
  margin: 0 0 .7rem;
  text-transform: uppercase;
}

h4,
.h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.3rem;
  letter-spacing: 0.058rem;
}

a {
  @include animate(color);
}

.main-holder {
  @include media-breakpoint-up (md) {
    padding-bottom: 3.8rem;
  }
}

.breadcrumb {
  font-size: 1.4rem;

  li {
    &:before {
      margin: 0 .5rem;
    }
  }
}

.accessibility {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.accessibility:focus {
  position: static;
  width: auto;
  height: auto;
}

.pac-container {
  z-index: 9999;
}
