#footer {
  padding: 2.5rem 0;
  background-color: $gray-100;
  text-align: center;
  font-size: 1.4rem;
  line-height: 2rem;
  color: $footer-1-textColor;

  @include media-breakpoint-up (lg) {
    padding: 2.6rem 0 1.8rem;
  }

  [class*="col-"] {
    @include media-breakpoint-down (sm) {
      margin-bottom: 1.9rem;
    }
  }

  h4,
  .h4 {
    margin-bottom: 2.7rem;
    color: $footer-1-titleColor;
  }

  .copy {
    font-style: italic;
    font-weight: 300;
    display: block;

    @include media-breakpoint-up (md) {
      padding-top: 1.1rem;
    }
  }
}

.footer-menu {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 700;
  margin-bottom: 0;

  li {
    margin-bottom: 1.3rem;
  }

  a {
    color: $footer-1-linkColor;
    cursor: pointer;

    &:focus,
    &:hover {
      text-decoration: $footer-1-linkHoverTextDecoration;
      color: $footer-1-linkHoverColor;
    }

    &.router-link-exact-active,
    &.active,
    &:active {
      color: $footer-1-linkActiveColor
    }
  }
}
